<form id="add-task-form">
  <div class="form-group">
    <label for="task-name">Name</label>
    <input type="text" id="task-name" placeholder="" />
  </div>
  <div class="form-group">
    <label for="task-type">Type</label>
    <select id="task-type">
      <option value="">Select type</option>
      <option>Feature</option>
      <option>Bug</option>
      <option>Improvement</option>
    </select>
  </div>
  <div class="form-group">
    <label for="task-desc">Description</label>
    <textarea id="task-desc" rows="3"></textarea>
  </div>
  <div class="form-group" style="align-items:flex-start;">
    <label>Date</label>
    <div class="date-box">
      <div>
        <label for="task-start-date">Start Date</label>
        <input type="date" id="task-start-date" required />
        <span class="calendar-icon"></span>
      </div>
      <div>
        <label for="task-end-date">End Date</label>
        <input type="date" id="task-end-date" required />
        <span class="calendar-icon"></span>
      </div>
    </div>
  </div>
 
  <button type="submit" class="create-task-btn">Create</button>
</form>
